<app-navbar></app-navbar> <div class="auth-container">
  <mat-card class="auth-card">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput [(ngModel)]="credenciales.username" name="username" required>
        <mat-error>El usuario es requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="credenciales.password" name="password" required>
        <mat-error>La contraseña es requerida</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="!loginForm.valid">
        Ingresar
      </button>

      <div style="text-align: center; margin-top: 15px;">
        <span>¿No tienes cuenta? </span>
        <a routerLink="/registro" style="color: #00796B; font-weight: bold; text-decoration: none;">Regístrate aquí</a>
      </div>

    </form>
  </mat-card>
</div>