.hero-container {
  height: 100vh;
  background: linear-gradient(180deg, #4DB6AC 0%, #E0F2F1 100%); /* Degradado imagen */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title { font-size: 4rem; font-weight: 300; color: black; margin: 20px 0; }
.btn-big { background-color: #26A69A; color: white; padding: 10px 30px; font-size: 1.2rem; }
.logo { width: 150px; filter: drop-shadow(0 4px 6px rgba(0,0,0,0.2)); }